<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PasswordFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <PasswordFinder.Properties.Settings>
      <setting name="Lang" serializeAs="String">
        <value>RUS</value>
      </setting>
      <setting name="doc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="xls" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="xml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="txt" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="rtf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="findstring" serializeAs="String">
        <value>*парол*,*pass*,*pwd*,*логин*,*login*</value>
      </setting>
      <setting name="findwords" serializeAs="String">
        <value>pwd,pass,парол,пасс,парл,password,пароль
</value>
      </setting>
    </PasswordFinder.Properties.Settings>
  </userSettings>
</configuration>